<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SOPS;Integrated Security=True" />
  </connectionStrings>
  <system.web>
    <membership defaultProvider="NHMembershipProvider">
      <providers>
        <add name="NHMembershipProvider" type="NHMembership.Membership.Provider.NHMembershipProvider, NHMembership" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <roleManager defaultProvider="NHRoleProvider" enabled="true">
      <providers>
        <add name="NHRoleProvider" type="NHMembership.Roles.Provider.NHRoleProvider, NHMembership, Version=1.0.0.0, Culture=neutral" applicationName="/" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
