@model IEnumerable<SOPS.WebUI.ViewModels.Practices.ListItemViewModel>

<ul class="grid">
    @foreach (var item in Model)
    {
        <li>
            @Html.Partial("Partials/_element", item)
        </li>
    }
</ul>
<div class="row margin_top_25 margin_bottom_25">
    @Html.Action("Paging", new { Search = ViewBag.Search, Page = ViewBag.Page})
</div>