@model SOPS.WebUI.ViewModels.Managers.ListItemViewModel

<div>
    <div class="title"><strong>@Model.FullName</strong></div>
    <div><strong>Kierunek:</strong> @Model.Course</div>
    <div><strong>Wydzial:</strong> @Model.Department</div>
    <div><strong>Email:</strong> @Model.Email</div>
</div>