<div id="remove-template-dialog" class="dialog" 
     data-bind="jqDialog: { resizable: false, autoOpen: false, modal: true, width: 600, title: 'Usuwanie' },  dialogVisible: isRemoveTemplateDialogOpen">
    @using (Html.BeginForm("DeleteTemplate", "System", FormMethod.Post, new {id = "removeTemplateForm"}))
    {   
        <input type="hidden" name="Id" data-bind="value: templateId()"/>
        <div class="delete-message"></div>
        <div>
            Czy napewno chcesz usunąć szablon?
        </div>
        <div class="buttons">
            <input type="submit" class="red" value="Usuń"/>
            <input type="button" value="Anuluj" data-bind="click: closeRemoveTemplateDialog"/>
        </div>
    }
</div>