@model SOPS.WebUI.Areas.Administration.ViewModels.System.UniversityViewModel

<div class="row margin_top_30 margin_bottom_30">
    <div class="property">
        <div class="name col_5">
            <h3>Usuwanie danych wszystkich studentów</h3>
        </div>
        <div class="col_1">
            <button type="submit" class="red" data-bind="click: removeStudents">
                <i class=" icon-trash icon-large"></i> Usuń  
            </button>
        </div>
    </div>
</div>   