@model SOPS.WebUI.Areas.Administration.ViewModels.System.ResourcesListViewModel

<div class="row margin_top_30">
    <div class="row margin_bottom_15">
        <h3 class="col_4">@Model.Title</h3>
        <div class="col_1">
            <button name="add" value="Dodaj" class="green" data-bind="click: uploadTemplate">
                <i class="icon-plus icon-large"></i> Dodaj  
            </button>
        </div>
    </div>
    <ul class="row resources-panel">
        @foreach (var resource in Model.Resources)
        {
            <li class="row">
                <div class="name col_4">
                    @Html.ActionLink(resource.Name, "Template", new { id = resource.Id })
                </div>
                <div class="value col_2">
                    @if (resource.InUse)
                    {
                        <strong>Szablon w użyciu.</strong>
                    }
                    else
                    {
                        <button name="delete" class="red" data-itemid="@resource.Id" data-bind="click: removeTemplate">
                            <i class=" icon-remove icon-large"></i> Usuń 
                        </button>
                    }
                </div>
            </li>
        }
    </ul>
</div>