@using SOPS.WebUI.Areas.Administration.ViewModels.University
@model DepartmentViewModel

<div id="add-department-dialog" class="dialog"
    data-bind="jqDialog: { resizable: false, autoOpen: false, modal: true, width: 600, title: 'Wydział - dodawanie' },  dialogVisible: isAddDepartmentDialogOpen">
    @using (Html.BeginForm("AddDepartment", "University", FormMethod.Post, new { id = "addDepartmentForm"}))
    {
        <input type="hidden" name="Id" value="0" />
        <div class="add-message"></div>
        <div class="property">
            <div class="validation">@Html.ValidationMessageFor(m => m.Name)</div>
            <div class="name">@Html.LabelFor(m => m.Name)</div>
            <div class="value">@Html.TextBoxFor(m => m.Name)</div>
        </div>
        <div class="buttons">
            <input type="submit" class="green" value="Zapisz"/>
            <input type="button" value="Anuluj" data-bind="click: closeAddDepartmentDialog"/>
        </div>
    }
</div>